H1 {
	FONT-SIZE: 160%; MARGIN-BOTTOM: 3pt; MARGIN-TOP: 9pt
}
H2 {
	FONT-SIZE: 120%; MARGIN-BOTTOM: 3pt; MARGIN-TOP: 11pt
}
H3 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 3pt; MARGIN-TOP: 11pt
}
H4 {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 7pt; MARGIN-TOP: 8pt
}
P {
	FONT-SIZE: 80%; LINE-HEIGHT: 150%; MARGIN-BOTTOM: 7pt; MARGIN-TOP: 7pt
}
TT {
	LINE-HEIGHT: 100%; MARGIN-BOTTOM: 7pt; MARGIN-TOP: 7pt
}
LI {
	FONT-SIZE: 80%; LINE-HEIGHT: 145%
}
