P {
	FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; TEXT-INDENT: 2ex
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif
}
H1 {
	BACKGROUND-COLOR: #ff7f00; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif
}
H2 {
	BACKGROUND-COLOR: #ff7f00; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif
}
H3 {
	BACKGROUND-COLOR: #ff7f00; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif
}
H4 {
	BACKGROUND-COLOR: #ff7f00; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif
}
T1 {
	COLOR: #ffd400; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 24px
}
H1 {
	COLOR: #ffd400; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 24px
}
H2 {
	COLOR: #ffd400; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 20px
}
H3 {
	FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 16px
}
H4 {
	FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: small
}
A {
	COLOR: yellow; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-STYLE: italic; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-STYLE: italic; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#menu {
	COLOR: yellow; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-WEIGHT: bold; MARGIN-TOP: 0px; TEXT-DECORATION: none
}
#menu:hover {
	COLOR: #ff3100; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; TEXT-DECORATION: none
}
#Htop {
	COLOR: #ffd700; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 24px; FONT-STYLE: normal; FONT-WEIGHT: bold; MARGIN-TOP: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none; VERTICAL-ALIGN: middle
}
#menu2 {
	COLOR: yellow; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#menu2:hover {
	COLOR: #ff3100; FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; TEXT-DECORATION: none
}
#country {
	FONT-FAMILY: Verdana, Arial, Helvetica, helvetica, sans-serif; FONT-SIZE: 20px; TEXT-ALIGN: right
}
